<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecordShop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/mdbootstrap/dist/css/mdb.css" />

        <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body>
    <div ng-controller="layoutCtrl">
        <nav class="navbar navbar-dark danger-color-dark navbar-fixed-top">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" style="color: white !important;" asp-controller="Home" asp-action="Index" class="navbar-brand">RecordShop</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="RecordList">Record List</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Random">Random Album</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li @* ng-if="user.isAdmin" *@><a class="nav-link" asp-area="" asp-controller="Records" asp-action="Create">Add Record</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        

                    </ul>
                    <ul class="nav navbar-nav d-inline">
                        <li><a class="nav-link" data-toggle="modal" @* data-target="#registerModal" *@>Register</a></li>
                        <li><a class="nav-link" data-toggle="modal" data-target="#signInModal">Sign Out</a></li>
                        <li><a class="nav-link" data-toggle="modal" data-target="#signInModal">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()

        </div>
        <footer class="page-footer font-large red darken-3">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="https://unt.edu"> UNT</a>
            </div>
            <!-- Copyright -->

        </footer>

        <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title modal-text d-inline">Sign In</h4>
                        <button type="button" class="close d-inline" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="signInForm" name="signInForm">
                            <div class="form-row">
                                <div class="form-group modal-text">
                                    <label for="signInemail">Email</label>
                                    <input id="signInemail" ng-model="user.email" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group modal-text">
                                    <label for="signInpassword">Password</label>
                                    <input id="signInpassword" ng-model="user.password" class="form-control" type="password" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-lg btn-red" ng-click="checkUserInfo(signInForm)">Sign-In</button>
                        <button type="button" class="btn-lg btn-grey" ng-click="clearUserInfo()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title modal-text d-inline">Register</h4>
                        <button type="button" class="close d-inline" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="registerForm" name="registerForm">
                            <div class="form-row">
                                <div class="form-group modal-text">
                                    <label for="registerEmail">Email</label>
                                    <input id="registerEmail" ng-model="user.email" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group modal-text">
                                    <label for="registerPassword">Password</label>
                                    <input id="registerPassword" ng-model="user.password" class="form-control" type="password" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-lg btn-red" ng-click="checkUserInfo(registerForm)">Register</button>
                        <button type="button" class="btn-lg btn-grey" ng-click="clearUserInfo()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
