@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This project was made for CSCE444 at UNT. We decided to make a record store online because we all like records and e-commerce is usually fun.</p>
<br />
<p>Record Shop is brought to you in part by:</p>
<center>
    <h2>Joanthan Wendt</h2>
    <h2>Bobby Kim</h2>
    <h4>and</h4>
    <h2>Abbey Rivera</h2>
</center>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb red darken-3">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>