@{
    ViewData["Title"] = "Records Shop - ALBUM NAME";
}
<<<<<<< HEAD

<div ng-app="record" ng-controller="SiteCtrl" class="ng-cloak">
    <div class="container">
        <div class="row">
            <h1>
                {{album.name}}
            </h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <img src="~/images/AbbeyRoad.jpg" class="flex-fill" />
                </div>
                <div class="row">
                    <p>
                        {{album.description}}
                    </p>
                </div>

            </div>
            <div class="col-md-4">
                <h1>{{album.name}}</h1>
                <h2>Price: {{album.price}}</h2>
                <p>{{album.distributer}}</p>
                <button class="btn red darken-3 btn-lg flex-fill" type="button">Add to cart</button>
=======
<div ng-app="record" ng-controller="SiteCtrl" class="ng-cloak">
    <div class="row">
        <h1>
            {{album.name}}
        </h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <img src="~/images/AbbeyRoad.jpg" class="flex-fill" />
            </div>
            <div class="row">
                <p>
                    {{album.description}}
                </p>
>>>>>>> master
            </div>
            
        </div>
        <div class="col-md-4">
            <h1>{{album.name}}</h1>
            <h2>Price: {{album.price}}</h2>
            <p>{{album.distributer}}</p>
            <button class="btn red darken-3 btn-lg flex-fill" type="button">Add to cart</button>
        </div>
    </div>

<<<<<<< HEAD
    <nav aria-label="breadcrumb">
=======

    <nav aria-label="breadcrumb" >
>>>>>>> master
        <ol class="breadcrumb red darken-3">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{album.name}}</li>
        </ol>
    </nav>
</div>