@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="record" ng-controller="IndexCtrl" ng-cloak>
    <div class="margin-y-3">
        <div class="autoplay">
            <div class="m-auto">
                <img src="~/images/AbbeyRoad.jpg" class="carousel-image" />
            </div>
            <div class="m-auto">
                <img src="~/images/DarkSide.png" class="carousel-image" />
            </div>
            <div class="m-auto">
                <img src="~/images/StraightOuttaCompton.jpg" class="carousel-image" />
            </div>
        </div>
    </div>


    <div class="margin-y-3">
        <h4>Welcome to the Record Shop, check out the finest Records here! Just visit the Record List if you know what you want, and find a Random Record if you're feeling lucky!</h4>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb red darken-3">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
    </nav>
</div>


