@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="record" ng-controller="SiteCtrl">
    <div class="margin-y-3">
        <div class="autoplay">
            <div class="m-auto">
                <img src="~/images/AbbeyRoad.jpg" class="carousel-image" />
            </div>
            <div class="m-auto">
                <img src="~/images/DarkSide.png" class="carousel-image" />
            </div>
            <div class="m-auto">
                <img src="~/images/StraightOuttaCompton.jpg" class="carousel-image" />
            </div>
        </div>
    </div>


    <div class="margin-y-3">
        <div class="record-car" ng-repeat="r in listOfAlbums">
            <a>
                <div class="slide">
                    <img src="">{{r.img}}
                    <div class="slide__caption">r.name</div>

                </div>
            </a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb red darken-3">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
    </nav>
</div>
